[General]
displayzone=false
dominimap=true
dotransition=true
dovegetation=true
mapHeight=44
mapWidth=44
mapXCount=15
mapYCount=15
miniMapDivisor=4.0
scale_TerrainMap=0.03
scale_TerrainMoisure=0.1
scale_Zone=0.1
seed=0
tileStep=4

[plants]
tree-1\heightmoisurelist="3,1;3,2;3,3;3,4;3,5;3,6"
tree-1\tmx=tree-1
tree-2\heightmoisurelist="1,1;1,2;1,3;1,4;1,5;1,6;2,1;2,2;2,3;2,4;2,5;2,6"
tree-2\tmx=tree-2

[temp]
monstainborder\collision_tile="21,22,23,55,87,86,85,53,82,83,115,114"

[terrain]
grass\heightmoisurelist="1,2;1,3;1,4;2,2;2,3;2,4;2,5;2,6;3,3;3,4;3,5;3,6"
grass\layer=Walkable
grass\outsideBorder=true
grass\tileId=0
grass\transition_tile="512,513,514,546,578,577,576,544,451,452,484,483"
grass\transition_tsx=terra.tsx
grass\tsx=terra.tsx
grass2\heightmoisurelist="1,5;1,6"
grass2\layer=Walkable
grass2\outsideBorder=true
grass2\tileId=545
grass2\transition_tile="512,513,514,546,578,577,576,544,451,452,484,483"
grass2\transition_tsx=terra.tsx
grass2\tsx=terra.tsx
mountain\heightmoisurelist="4,1;4,2;4,3"
mountain\layer=Walkable
mountain\outsideBorder=true
mountain\tileId=353
mountain\transition_tile="320,321,322,354,386,385,384,352,323,324,356,355"
mountain\transition_tsx=terra.tsx
mountain\tsx=terra.tsx
sand\heightmoisurelist="1,1"
sand\layer=Walkable
sand\outsideBorder=true
sand\tileId=230
sand\transition_tile="197,198,199,231,263,262,261,229,195,196,228,227"
sand\transition_tsx=terra.tsx
sand\tsx=terra.tsx
sand2\heightmoisurelist="2,1;3,1;3,2"
sand2\layer=Walkable
sand2\outsideBorder=true
sand2\tileId=65
sand2\transition_tile="293,294,295,327,359,358,357,325,387,388,420,419"
sand2\transition_tsx=terra.tsx
sand2\tsx=terra.tsx
snow\heightmoisurelist="4,4;4,5;4,6"
snow\layer=Walkable
snow\outsideBorder=true
snow\tileId=134
snow\transition_tile="101,102,103,135,167,166,165,133,131,132,164,163"
snow\transition_tsx=terra.tsx
snow\tsx=terra.tsx
water\heightmoisurelist="0,1;0,2;0,3;0,4;0,5;0,6"
water\layer=Water
water\outsideBorder=false
water\tileId=0
water\transition_tile="184,185,186,218,250,249,248,216,281,282,314,313"
water\transition_tsx=terra.tsx
water\tsx=animation.tsx

[terrainGroup]
snowmountain\height=4
snowmountain\layer=Collisions
snowmountain\transition_tile="21,22,23,55,87,86,85,53,82,83,115,114"
snowmountain\transition_tsx=terra.tsx
